body {
    background-color: turquoise;
    color: rgb(90, 90, 90);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}