body {
    background-color: turquoise;
    color: rgb(90, 90, 90);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    width: 300px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
    font-size: 20px;
}

.card p {
    color: #555;
    font-size: 14px;
    padding: 0 15px 20px;
}

.card button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.card button:hover {
    background: #0056b3;
}